<app-header></app-header>

<html>	
<head>
	<title> Chocolates </title>
	<style href="home.component.css"></style>
	
</head>
<body>
	<div>
		<img width="350" src="assets/images/im.jpg">
		</div>
	
	
	<div class="middle">
		<div style="background:'assets/images/fruitshop.jpg';">
		<p>
			<br> <br><h2>The Chocolate Paradise </h2><br>
			<font size="5px"> <h3><b>Great Chocolate deals!</b></h3></font>
		</p> 
		</div>
	</div>
	
	<div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">
						<font color="#000">  </font> <br> <br>

					<font color="#000" size="5px"><b> </b></font> <br>Make ur beautiful moments sweet and sound! <br>

 <br>The beneficial effects of chocolate on blood pressure come from the high flavanol content, and the nitrous oxide which dilates blood vessels. High blood pressure in the veins of the liver is thought to be linked with liver damage and chronic liver disease. Early research has shown that dark chocolate improves blood flow in the liver, and there are studies at the moment looking at whether dark chocolate can prevent liver damage.<br>
<ul>
<h4>10 Reasons Why Chocolate Is Good For You</h4>
	<li>Lowers Blood Pressure</li>
	<li>Prevents Liver Damage</li>
	<li>Boosts 'Good Cholesterol</li>
	<li>Keeps Your Heart Healthy</li>
	<li>Makes You Feel Good</li>
	<li>Boosts Brain Power</li>
	<li>Keeps You Slim</li>
	<li>Makes You A Genius (Maybe…)</li>
	
</ul>
<br>
 </td>
					
					
					<td> </td>
				</tr>
			
				
			</table>
		</div>
	</div>